# Python
__pycache__/
*.py[cod]
*.so
.env
/InterfaceApp/venv/
*.log
/venv/

# Project specific
*.cache

# YOLO/Vision
/InterfaceApp/vision/dataset/
/InterfaceApp/vision/runs/
/vision/dataset/
/vision/runs/
*.pt
*.onnx

# OS
Thumbs.db
.DS_Store
*.lnk

# IDE
.vscode/
.idea/